.shows-container {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
  }
  
  .shows-navbar-container1{
    display: flex;
    justify-content: center;
  }
  
  .shows-navbar{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 15pxrem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
 .individual{
  background: rgb(30, 30, 30);
  padding: 10px 20px;
  border-radius: 10px;
 }
 .individual:hover{
  background: rgb(161, 0, 193);
 }